.body-content {
    background-color: #d9d8d88c;
    .body-top {
        width: 100%;
        height: 550px;
        position: relative;
        background-position: center;
        background-image: url("../../asset/slider2.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;

        .body-top-left {
            margin-left: 50px;
            width: 60%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            #title {
                font-size: xx-large;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 20px;
            }

            #subtitle {
                font-size: 60px;
                font-weight: bold;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .button-group {
                display: flex;
                
                .ant-btn {
                    height: 60px;
                    width: 150px;
                    border-radius: 5px ;
                    margin: 20px;
                    font-size: larger;
                }

                #btn-enter {
                    background-color: darkgreen;
                    color: #fff;         
                }
            }
        }

        .body-top-right {              
            display: flex;
            flex-direction: column;
            width: 40%;
            justify-content: center;

            .ant-image-img {
                border: 1px #fff solid;
                border-radius: 50%;
                width: 50%;
                margin: 50px 0 50px 0;
            }

            #img-top {
                margin-top: 20px;
                display: flex;
                justify-content: flex-start;            
            }

            #img-bottom {
                margin-top: 40px;
                display: flex;
                justify-content: flex-end;         
            }    
        }
    }

    .body-banner {
        display: flex;
        height: 190px;
        justify-content: space-around;
        margin: 50px 0 50px 0;  
    }
    
    .category-contains {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 400px;
        margin-bottom: 50px;

        .category-text {
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 700;
        }

        .category-text::before {
            content: "";
            margin: 25px 10px 0 0;
            width: 70px;
            height: 3px;
            background: #679509; 
        }

        .category-text::after {
            content: "";
            margin: 25px 0 0 10px;
            width: 70px;
            height: 3px;
            background: #679509;  
        }

        .category-subitem {
            display: flex;
            justify-content: space-around;

            .category-item {
                display: flex;
                flex-direction: column;
                align-items: center ;

                .category-name  {
                    display: flex;
                    justify-content: center;
                    font-size: x-large;
                    font-weight: bold;
                    margin-top: 10px;
                }

                .category-image {
                    display: flex;
                    justify-content: center;
                    width: 60%;
                    border: 2px #679509 dashed;
                    border-radius: 50%;
                    padding: 10px 10px 10px 10px;

                    .ant-image-img {
                        border-radius: 50%;
                    }   
                }
                
            }
        }
    }

    .body-contains {
        height: 500px;
        margin-bottom: 50px;

        .body-contains-text {
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 700;
        }

        .body-contains-text::before {
            content: "";
            margin: 25px 10px 0 0;
            width: 70px;
            height: 3px;
            background: #679509;      
        }

        .body-contains-text::after {
            content: "";
            margin: 25px 0 0 10px;
            width: 70px;
            height: 3px;
            background: #679509;        
        }

        .product-contains {
            display: flex;
            justify-content: space-around;
            margin: 50px 0;
            height: 400px;
           
            .product-item {
                padding: 8px;
                width: 280px;
                background-color: #fff;

                .product-image {
                    height: 270px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .product-infor {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;

                    .ratting {
                        display: flex;
                        justify-content: center;
                        color: #FC0;
                        font-size: 20px;
                    }

                    .product-name {
                        display: flex;
                        justify-content: center;
                        color: #1E1D24;
                        font-size: 25px;
                        font-weight: bold;
                    }

                    .product-price {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: x-large;
                        font-weight: bold;
                        color: #679509;

                        del {
                            margin-top: 5px;
                            color: #1E1D24;
                            font-size: medium;
                        }
                    }
                }   
            }           
        }    
    }
}

.anticon-star {
    margin-right: 5px;
}