.body-content {
    background-color: #f8f8f8;
    .body-top {
        width: 100%;
        height: 550px;
        position: relative;
        background-position: center;
        background-image: url("../../asset/slider2.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between; 

        .body-top-left {
            margin-left: 50px;
            width: 60%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            #title {
                font-size: xx-large;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 20px;
            }

            #subtitle {
                font-size: 60px;
                font-weight: bold;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .button-group {
                display: flex;
                
                .ant-btn {
                    height: 60px;
                    width: 150px;
                    border-radius: 5px ;
                    margin: 20px;
                    font-size: larger;
                }

                #btn-enter {
                    background-color: darkgreen;
                    color: #fff;         
                }
            }
        }

        .body-top-right {              
            display: flex;
            flex-direction: column;
            width: 40%;
            justify-content: center;

            .ant-image-img {
                border: 1px #fff solid;
                border-radius: 50%;
                width: 50%;
                margin: 50px 0 50px 0;
            }

            #img-top {
                margin-top: 20px;
                display: flex;
                justify-content: flex-start;            
            }

            #img-bottom {
                margin-top: 40px;
                display: flex;
                justify-content: flex-end;         
            }    
        }
    }

    .body-banner {
        display: flex;
        height: 190px;
        justify-content: space-around;
        margin: 50px 0 50px 0;  
    }
    
    .category-contains {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 400px;
        margin-bottom: 50px;

        .category-text {
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 700;
            &::before {
                content: "";
                margin: 25px 10px 0 0;
                width: 70px;
                height: 3px;
                background: #679509; 
            }
            
            &::after {
            content: "";
            margin: 25px 0 0 10px;
            width: 70px;
            height: 3px;
            background: #679509;  
            }
        }
        
        .category-subitem {
            display: flex;
            justify-content: space-around;

            .category-item {
                display: flex;
                flex-direction: column;
                align-items: center ;

                .category-name  {
                    display: flex;
                    justify-content: center;
                    font-size: x-large;
                    font-weight: bold;
                    margin-top: 10px;
                }

                .category-image {
                    display: flex;
                    justify-content: center;
                    width: 60%;
                    border: 2px #679509 dashed;
                    border-radius: 50%;
                    padding: 10px 10px 10px 10px;

                    .ant-image-img {
                        border-radius: 50%;
                    }   
                }     
            }
        }
    }

    .product-contains {
        height: 500px;
        margin-bottom: 50px;

        .product-contains-text {
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 700;
            &::before {
                content: "";
                margin: 25px 10px 0 0;
                width: 70px;
                height: 3px;
                background: #679509;      
            }

            &::after {
                content: "";
                margin: 25px 0 0 10px;
                width: 70px;
                height: 3px;
                background: #679509;        
            }
        }

        .product-subitem {
            display: flex;
            justify-content: space-around;
            margin: 50px 0;
            height: 400px;
           
            .product-item {
                padding: 8px;
                width: 280px;
                background-color: #fff;

                .product-image {
                    height: 270px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .product-infor {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;

                    .ratting {
                        display: flex;
                        justify-content: center;
                        color: #FC0;
                        font-size: 20px;
                    }

                    .product-name {
                        display: flex;
                        justify-content: center;
                        color: #1E1D24;
                        font-size: 25px;
                        font-weight: bold;
                    }

                    .product-price {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: x-large;
                        font-weight: bold;
                        color: #679509;

                        del {
                            margin-top: 5px;
                            color: #1E1D24;
                            font-size: medium;
                        }
                    }
                }   
            }           
        }    
    }

    .timer-contains {
        display: flex;
        justify-content: space-around;
        height: 450px;
        margin: 0 15px 0 15px;

        .timer-picture {
            width: 50%;
            
            .ant-image-img {
                width: 100%;
            }
        }

        .timer-description {
            display: flex;
            flex-direction: column;
            width: 50%;

            .timer-title{
                margin-left: 30px;
                font-size: large;
                color: #679509;
                font-weight: 500;
            }

            .timer-subtitle {
                margin-left: 30px;
                font-size: 60px;
                font-weight: bold;
            }

            .timer-countdown {
                height: 130px;
            }

            .timer-button {
                margin: 40px 0 0 30px;
                height: 50px;
             
                .ant-btn {
                    width: 30%;
                    height: 100%;
                    background: #fff;
                    font-size: large;
                    font-weight: bold;
                    &:hover {
                        background: #679509;
                        color: #ece5e5;
                    }
                }   
            }
        }
    }

    .list-product-contains{
        display: flex;
        justify-content: space-around;
        margin: 20px 10px 0 10px;
        height: 580px;

        .list-product-subitem{
            width: 280px;
            .title{
                font-size: x-large;
                font-weight: bold;
                position: relative;
                margin-bottom: 30px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background: #ece5e5;
                    clear: both;
                    bottom: 0;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 70px;
                    height: 3px;
                    background: #679509;
                    clear: both;
                    display: block;
                    bottom: 0;
                }
            }

            .list-product-item{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .product-item {
                    display: flex;
                    width: 280px;
                    height: 110px;
                    margin-bottom: 20px;   
                    background-color: #fff ; 

                    .product-description {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .product-name {
                            display: flex;
                            justify-content: center;
                            font-size: medium;
                            color: #679509;
                        }  
                        
                        .product-price {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: medium;
                            font-weight: bold;
                            color: #679509;
    
                            del {
                                margin-left: 5px;
                                color: #1E1D24;
                                font-size: small;
                            }
                        }         
                    }

                    .product-image {
                        width: 40%;
                    }
                }       
            }

            .list-product-banners{
                background-image: url("../../asset/product-banner.jpg");
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 500px;
                padding-left: 30px;
                #product-banner-text{
                    margin-top: 60px;
                    font-size: xx-large;
                    font-weight: bold;
                    color: #fff;
                }
                .banner-button {
                    margin: 40px 0 0 30px;
                    height: 50px;
                    width: 500px;
             
                    .ant-btn {
                        width: 30%;
                        height: 100%;
                        background: #679509;
                        border: #679509;
                        font-size: large;
                        font-weight: bold;

                        &:hover {
                            background: #3b5702;
                            border: #3b5702;
                            color: #ece5e5;
                        }
                    }   
                }
            }

           
        }
    }

    .contact {
        height: 400px;
        background-image: url("../../asset/contact-background.jpg");
        background-size: 130%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 50px 0 0 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .contact-description {
            display: flex;
            align-items: center;
            flex-direction: column;
            
            h3 {
                display: flex;
                justify-content: center;
                color: #679509;
                font-size: xx-large;
            }

            h1 {
                color: #fff;
                font-size: 80px;
            }

            .contact-button {
                display: flex;

                .ant-btn {
                    height: 50px;
                    &:first-child {
                        background-color: #679509;
                        color: #fff;
                        border: #679509;
                        margin-right: 50px;
                    }
                    &:hover {
                        background-color: #3b5702;
                        color: #fff;
                        border: #3b5702;
                    }
                }
            }
        }
        .contact-picture {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 50px;
            width: 25%;
        }
    }
}

.anticon-star {
    margin-right: 5px;
    color: #FC0;
    font-size: large;
}