.header-content{
    height: 90px;
    background-color: #d9d8d88c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .select-search{
        height: 50px;
        width: 600px;
        display:flex;
        margin-left: 20px;

        .select{
            background: #f8f8f8;
            width: 170px;
            text-align: center;
            font-size: medium;
            border: 2px solid #eee;
           
        }     

        .ant-input-group{    
            display: flex;
            border: 2px solid #eee;

            .ant-input{
                width: 350px;
                background-color: #f8f8f8;
            }

            .ant-input-search-button{
                height: 50px;
                width: 50px;
            }                  
        }
    }

    .header-right{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;

        .anticon{
            font-size: x-large;       
        }
        
        .phone{
            display: inline-block;
            margin-right: 20px;
        }

        .help{
            display:inline-block ;
            margin-right: 30px;
            
        }
        .like{
            display: inline-block;
            margin-right: 30px;
            .anticon-question{
                color: blue;
             }
        }
        .user{
            display:inline-block ;
            margin-right: 20px;
        }
    }
}
