.timer-contains{
    display: flex;
    justify-content: space-around;
    .timer-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .timer-number {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background: #fff;
            font-size: xx-large;
            font-weight: bold;
            color: #a1eb0d;
        }
        .timer-text {
            font-size: large;
            font-weight: bold;
        }
    }
}